*
!.gitignore
!README.md
!docs/
docs/*
!docs/index.md
!docs/system-overview.md
!docs/architecture/
docs/architecture/*
!docs/architecture/frontend.md
!docs/architecture/backend.md
!docs/features.md
!docs/data-flow/
docs/data-flow/*
!docs/data-flow/overview.md
!docs/api/
docs/api/*
!docs/api/overview.md
